spring:
  application:
    name: biblioteca-api

  profiles:
    active: ${SPRING_PROFILE:dev}

  jpa:
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

  flyway:
    enabled: true
    baseline-on-migrate: true

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always